{% extends "dashboard/base_dashboard.html" %}
{% load humanize %}

{% load static %}


{% block title %}RAS y PSI{% endblock title %}

{% block Main %}
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><strong>RAS y PSI</strong><small> Detalles</small></div>
                    <div class="card-body card-block">
                        <div>
                            <p><b>{{object.folio}}</b></p>
                            <p><b>Ras: </b>{{object.Ras|floatformat:2|intcomma}}</p>
                            <p><b>Psi: </b>{{object.Psi|floatformat:2|intcomma}}</p>
                        </div>
                        
                        <div>
                            <a href="{% url 'analisis_formula:ras_psi_list' %}" class="btn btn-primary btn-block">Regresar</a>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>        
{% endblock Main %}

{% block extrajs %}

{% endblock extrajs %}
