
{% extends "core/base.html" %}

{% load static %}


{% block title %}
Recepcion{% endblock title %}

{% block Main %}

<style> </style>
<div class="container">
  <div class="form-row">
    <div class="form-group col-sm-8">

        <form class="form-control" method="post" id="recepcionForm" data-municipios-url="{% url 'recepcion:ajax_load_municipios' %}" novalidate>
          <h2 class="mb-4">Recepcion</h2>

          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-primary btn-block mb-3" value="Confirmar">
          
        </form>
    </div>
  </div>
  
</div>
  
  <script>
    $("#id_estado").change(function () {
      var url = $("#recepcionForm").attr("data-municipios-url");  // get the url of the `load_cities` view
      var estadoId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'estado': estadoId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_municipio").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

  <script>
  

    $(".datepicker").datepicker({
      format: "dd/mm/yyyy",
      todayBtn: "linked",
      language: "es",
      keyboardNavigation: false,
      orientation: "bottom auto",
      forceParse: false,
      daysOfWeekHighlighted: "0",
      autoclose: true,
      todayHighlight: true,
      
    });
  </script>



{% endblock %}