{% extends "dashboard/base_dashboard.html" %}

{% load static %}


{% block title %} Listado Cultivos {% endblock title %}

{% block estrahead %}
    
{% endblock estrahead %}

{% block Main %}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title"><h2>Cultivos</h2></strong>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col"><a href="{% url 'generales:cultivo_create' %}"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; Nuevo</button></a></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registro in cultivo_list|dictsort:'nombre' %}
                            <tr>
                                <th scope="row">{{registro.nombre}}</th>
                                <th><a class="btn btn-outline-primary btn-sm mr-2" href="{% url 'generales:cultivo_update' registro.id %}">Editar</a><a class="btn btn-outline-danger btn-sm" href="{% url 'generales:cultivo_delete' registro.id %}">Eliminar</a></th>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock Main %}