
.icon-leaf:before { content: '\e800'; } /* '' */
.icon-tint:before { content: '\e801'; } /* '' */
.icon-list-alt:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-user-pair:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */