
{% extends "dashboard/base_dashboard.html" %}

{% load static %}


{% block title %}
Ph y Coductividad Eléctrica Pasta Saturada{% endblock title %}

{% block Main %}

<link rel="stylesheet" href="{% static 'analisis_basico/css/estilos.css' %}">
<div class="container-fluid no-gutters bg-light pt-5 pb-5 ">
  <div class="row justify-content-center">
    <form class="col-md-8 pb-3 p-3" method="post" id="texturaForm">
      {% csrf_token %}
      <h2 class="text-center mb-4">Ph y Coductividad Eléctrica Pasta Saturada</h2>
      
      
      <div class="form-row align-items-center">
        <div class="col">
          <label for="{{form.folio.label}}">{{form.folio.label}}</label>
            {{form.folio}}
            {{form.folio.errors}}
        </div>
      </div>

      <div class="form-row mt-3 align-items-center">
        <div class="col-sm-4">
          <label for="{{form.ph.label}}">{{form.ph.label}}</label>
          {{form.ph}}
          {{form.ph.errors}}
        </div>
        <div class="col-sm-4">
          <label for="{{form.ce.label}}">{{form.ce.label}}</label>
          {{form.ce}}
          {{form.ce.errors}}
        </div>
        <div class="col-sm-4">
          <label for="{{form.unidad.label}}">{{form.unidad.label}}</label>
          {{form.unidad}}
          {{form.unidad.errors}}
        </div>
      </div>


      <div class="form-row mt-3 align-items-center">
          <div class="col-md-6">
            <label for="{{form.analista.label}}">{{form.analista.label}}</label>
              {{form.analista}}
              {{form.analista.errors}}
          </div>
          <div class="col-md-6">
              <label for="{{form.fecha_analisis.label}}">{{form.fecha_analisis.label}}</label>
                {{form.fecha_analisis}}
                {{form.fecha_analisis.errors}}
            </div>
      </div>

      <input type="submit" class="btn btn-primary btn-block mb-3 mt-5" value="Actualizar">
    </form>
  </div>
</div>

{% endblock Main %}

{% block extrajs %}
<script>
jQuery(document).ready(function($) {
  $(".datepicker").datepicker({
    format: "dd/mm/yyyy",
    todayBtn: "linked",
    language: "es",
    keyboardNavigation: false,
    orientation: "top auto",
    forceParse: false,
    daysOfWeekHighlighted: "0",
    autoclose: true,
    todayHighlight: true,
  });
});
</script>
{% endblock extrajs %}

