{% extends "dashboard/base_dashboard.html" %}
{% load humanize %}
{% load static %}


{% block title %} Micronutrientes {% endblock title %}

{% block estrahead %}
    
{% endblock estrahead %}
<link rel="stylesheet" href="{% static 'analisis_basico/css/estilos.css' %}">
{% block Main %}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title"><h2>Micronutrientes</h2></strong>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Folio</th>
                                <th scope="col">Fe</th>
                                <th scope="col">Cu</th>
                                <th scope="col">Mn</th>
                                <th scope="col">Zn</th>
                                <th scope="col"><a href="{% url 'analisis_salinidad:micronutrientes_create' %}"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; Nuevo</button></a></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registro in micronutrientes_list|dictsort:'id' reversed %}
                            <tr>
                                <th scope="row">{{registro.folio}}</th>
                                <td>{{registro.Fe|floatformat:2|intcomma}}</td>
                                <td>{{registro.Cu|floatformat:2|intcomma}}</td>
                                <td>{{registro.Mn|floatformat:2|intcomma}}</td>
                                <td>{{registro.Zn|floatformat:2|intcomma}}</td>
                                <th><a class="btn btn-outline-primary btn-sm mr-2" href="{% url 'analisis_salinidad:micronutrientes_update' registro.id %}">Editar</a><a class="btn btn-outline-success btn-sm mr-2" href="{% url 'analisis_salinidad:micronutrientes_detail' registro.id %}">Ver</a><a class="btn btn-outline-danger btn-sm" href="{% url 'analisis_salinidad:micronutrientes_delete' registro.id %}">Eliminar</a></th>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock Main %}